h2 {
    margin-left: 10px;
}

canvas {
    width: 400px;
    height: 400px;
    border: solid 1px black;
    margin: 20px 50px;
}

.highlight {
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    width: 120px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid #009cd3;
    margin-left: 20px;
}